.choice-area {
	.choice-btns {
		width: 75%;
		margin: 10px auto;
		aspect-ratio: 1/1;
		background-image: url('images/bg-triangle.svg');
		background-size: 75%;
		background-position: center center;
		background-repeat: no-repeat;
		position: relative;

		button {
			position: absolute;
		}

		&.original button {
			&:nth-child(2) {
				right: 0;
			}

			&:nth-child(3) {
				bottom: 8px;
				right: 50%;
				transform: translateX(50%);

				:active {
					transform: translateY(8px);
				}
			}
		}
	}
}
