.choice-area {
  margin: 10px auto;
  aspect-ratio: 1/1;
  background-size: 75%;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;

  &.original {
    background-image: url('./images/bg-triangle.svg');
    grid-template-rows: 1fr 1fr;

    & button {
      &:nth-child(2) {
        justify-self: end;
      }

      &:nth-child(3) {
        grid-column: 1/3;
        justify-self: center;
        align-self: center;
      }
    }
  }

  &.bonus {
    background-image: url('./images/bg-pentagon.svg');
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 50px;

    & button {
      &:nth-child(1) {
        grid-column: 1/3;
        justify-self: center;
      }

      &:nth-child(2) {
        margin-top: -24px;
      }

      &:nth-child(3) {
        justify-self: end;
        margin-top: -24px;
      }

      &:nth-child(4) {
        justify-self: end;
      }

      &:nth-child(5) {
        justify-self: start;
      }
    }
  }

  @media (min-width: 640px) {
    width: 75%;
  }
}
