.picks-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:
		'user house'
		'result result';

	& > .user-pick {
		grid-area: user;
	}

	& > .house-pick {
		grid-area: house;
	}

	& > .result {
		grid-area: result;
	}

	@media (min-width: 425px) {
		grid-template-columns: 50% 0 50%;
		grid-template-areas: 'user result house';
		grid-auto-flow: column;
		column-gap: 20px;
		animation: columnResize 0.5s forwards;
		animation-delay: 1s;
	}

	.pick-container {
		display: flex;
		flex-direction: column;
		row-gap: 32px;
		align-items: center;

		@media (min-width: 425px) {
			flex-direction: column-reverse;
		}

		h2 {
			font-size: 1rem;
			text-align: center;
			text-transform: uppercase;
			margin-bottom: 30px;
			letter-spacing: 2px;

			@media (min-width: 425px) {
				font-size: 1.5rem;
			}
		}

		.placeholder-pick {
			background-color: #161f3c;
			width: 240px;
			aspect-ratio: 1/1;
			border-radius: 100%;
			opacity: 0.6;
		}
	}
	.result-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;

		h1 {
			font-size: 3.5rem;
			text-transform: uppercase;
			white-space: nowrap;
			text-shadow: 1px 1px 2px black;
		}

		button {
			color: #3c3d49;
			background-color: #fafafa;
			border: none;
			width: 60%;
			white-space: nowrap;
			padding: 15px;
			border-radius: 8px;
			margin-top: 10px;
			text-transform: uppercase;
			font-weight: 700;
			letter-spacing: 1px;
			cursor: pointer;

			&:hover {
				background-color: #e8e8e8;
			}
		}
	}
}

@keyframes columnResize {
	0% {
		grid-template-columns: 50% 0 50%;
	}

	100% {
		grid-template-columns: 35% 30% 35%;
	}
}
