.rules-btn {
	position: absolute;
	bottom: 40px;
	right: 20px;
	padding: 10px 30px;
	background-color: transparent;
	border: 1px solid #ffffff;
	border-radius: 8px;
	color: #ffffff;
	font-weight: 600;
	letter-spacing: 2px;
	cursor: pointer;

	@media (max-width: 375px) {
		left: 50%;
		transform: translateX(-50%);
	}
}

.rules-modal-container {
	position: absolute;
	top: 50%;
	left: 50%;
	background: #fff;
	border-radius: 8px;
	padding: 25px;
	color: #3d4061;
	transform: translate(-50%, -50%);
	z-index: 2;

	display: grid;
	grid-template-columns: 90% 10%;
	row-gap: 35px;

	h1 {
		text-transform: uppercase;
	}

	button {
		background: none;
		border: none;
		cursor: pointer;
	}

	img {
		grid-column-start: 1;
		grid-column-end: 3;
	}
}

.full-overlay {
	background-color: #000;
	height: 100vh;
	width: 100vw;
	position: absolute;
	top: 0;
	right: 0;
	opacity: 0.5;
	z-index: 1;
}

@media (max-width: 375px) {
	.rules-modal-container {
		height: 100vh;
		width: 100vw;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(3, 1fr);
		justify-items: center;
		align-items: center;
		row-gap: unset;
		padding: 0;
		border-radius: 0;

		h1 {
			text-align: center;
		}

		img {
			grid-column-start: unset;
			grid-column-end: unset;
			grid-row-start: 2;
		}
	}
}
