* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Barlow Semi Condensed', sans-serif;
	height: 100vh;
	background: #1f3756;
	background: radial-gradient(at center top, #1f3756, #141639);
	color: #fff;
}

p {
	line-height: 1;
}

.container {
	max-width: 720px;
	margin: 0 auto;
	padding: 24px 20px 0;
	/* background-color: slateblue; */
}

.score-bar {
	border: 4px solid #5d6d87;
	border-radius: 20px;
	padding: 24px 32px;
	display: grid;
	grid-template-columns: 4fr 1fr;
}

.score-bar .title h1 {
	text-transform: uppercase;
	margin: 0;
	font-size: 2.625rem;
	line-height: 0.8;
}

.score-container {
	height: 100%;
	background-color: #fbfbfb;
	border-radius: 12px;
	text-align: center;
}

.score-label p {
	color: #2a46c0;
	font-size: 1.2rem;
	margin-top: 8px;
}

.score p {
	color: #3b4363;
	font-size: 4rem;
	font-weight: 700;
}

.choice-area {
	background-color: beige;
	margin-top: 20px;
}

.choice-area .choice-btns {
	width: 75%;
	margin: 10px auto;
	aspect-ratio: 1/1;
	background-color: tomato;
	background-image: url('images/bg-triangle.svg');
	background-size: 75%;
	background-position: center center;
	background-repeat: no-repeat;

	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: center;
	align-items: center;
}

.choice-area .choice-btns button {
	border-radius: 100%;
	padding: 30px;
	aspect-ratio: 1/1;
	width: 50%;
}
